@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  transition: filter 500ms ease;
  overflow: auto;
  margin: 0;
  padding: 0;

}

header {
  padding: 2rem;
}
h1 {
  margin: 0;
  padding: 0;
}


.btn {
  background-color: $shape-color;
  border: 1px solid $shape-color;
  color: $color-light;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 0 .5rem;
  outline: none;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition : filter 300ms ease;
}


@include toggle-button('.btn-switcher-gray',
        'Switch to gray',
        'Switch to colors',
        '.b-w'
);
@include toggle-button('.btn-enable-shadows',
        'Enable shadows',
        'Disable shadows',
        '.shadows-enabled'
);
@include toggle-button('.btn-disable-rellax',
        'Disable Parallax',
        'Enable Parallax',
        '.rellax-disabled'
);


.b-w {
  filter: grayscale(1);
}
