/// Random width and height
/// @example css
///   .block-element {
///     @include random-size();
///   }
@mixin random-size() {
  $random: random($module-size-max);
  width: $random + px;
  height: $random + px;
  //top: random($module-margin-max);
}

@mixin toggle-button($btnSelector, $disablingText, $enablingText, $parentActivatorClass) {
  #{$btnSelector} {
    &:before {
      content: $disablingText
    }
    #{$parentActivatorClass} & {
      filter: invert(100%);
      &:before {
        content: $enablingText
      }
    }
  }
}
