.module {
  min-height: 100px;
  min-width: 100px;
  position: relative;
  transition: color .7s ease-in, background-color .7s ease-in;
  width: 150px;

  .uid {
    color: white;
    font-size: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 8px;
    width: 100%;
    z-index: 1;

    span {
      background: rgba(255, 255, 255, .4);
      display: inline-block;
      padding: 2px 6px;
    }
  }

  &.color-fav-yellow {
    @include random-size();
    background: $color-fav-yellow;
  }
  &.color-fav-red-orange {
    @include random-size();
    background: $color-fav-red-orange;
  }
  &.color-fav-violet {
    @include random-size();
    background: $color-fav-violet;
  }
  &.color-fav-pink {
    @include random-size();
    background: $color-fav-pink;
  }
  &.color-fav-orange {
    @include random-size();
    background: $color-fav-orange;
  }
  &.color-fav-green {
    @include random-size();
    background: $color-fav-green;
  }
  &.color-fav-green-blue {
    @include random-size();
    background: $color-fav-green-blue;
  }
  &.color-fav-turquoise {
    @include random-size();
    background: $color-fav-turquoise;
  }
  &.color-fav-blue {
    @include random-size();
    background: $color-fav-blue;
  }

  .shape {
    position: relative;
    height: 40px;
    width: 40px;
    margin: auto;
    top: calc(50% - 20px);
    background: $shape-color;

    &.square {
      -ms-transform: rotate(45deg); /* Internet Explorer */
      -moz-transform: rotate(45deg); /* Firefox */
      -webkit-transform: rotate(45deg); /* Safari et Chrome */
      -o-transform: rotate(45deg); /* Opera */
    }


    &.circle {
      border-radius: 25px;
      background: $shape-color;
    }


    &.triangle {
      width: 0;
      height: 0;
      top: calc(50% - 25px);
      background: none;
      &.triangle-up {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 40px solid $shape-color;
      }
      &.triangle-down {
        top: calc(50% - 15px);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 40px solid $shape-color;
      }
      &.triangle-left {
        border-top: 25px solid transparent;
        border-right: 40px solid $shape-color;
        border-bottom: 25px solid transparent;
      }
      &.triangle-right {
        border-top: 25px solid transparent;
        border-left: 40px solid $shape-color;
        border-bottom: 25px solid transparent;
      }
    }


    &.diamond {
      border-style: solid;
      border-color: transparent transparent $shape-color transparent;
      border-width: 0 15px 15px 15px;
      height: 0;
      width: 30px;
      position: relative;
      background: none;
      &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: -15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: $shape-color transparent transparent transparent;
        border-width: 35px 30px 0 30px;
      }
    }


    &.star-five {
      top: calc(50% - 10px);
      position: relative;
      display: block;
      color: $shape-color;
      width: 0px;
      height: 0px;
      border-right: 25px solid transparent;
      border-bottom: 16px solid $shape-color;
      border-left: 25px solid transparent;
      -moz-transform:    rotate(35deg);
      -webkit-transform: rotate(35deg);
      -ms-transform:     rotate(35deg);
      -o-transform:      rotate(35deg);
      background: none;

      &:before {
        position: absolute;
        height: 0;
        width: 0;
        display: block;
        content: '';
        -webkit-transform: rotate(-35deg);
        -moz-transform:    rotate(-35deg);
        -ms-transform:     rotate(-35deg);
        -o-transform:      rotate(-35deg);
        border-bottom: 20px solid $shape-color;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        top: -15px;
        left: -17px;
      }

      &:after {
        position: absolute;
        display: block;
        color: $shape-color;
        -webkit-transform: rotate(-70deg);
        -moz-transform:    rotate(-70deg);
        -ms-transform:     rotate(-70deg);
        -o-transform:      rotate(-70deg);
        content: '';
        top: 0;
        left: -26px;
        width: 0;
        height: 0;
        border-right: 25px solid transparent;
        border-bottom: 17px solid $shape-color;
        border-left: 25px solid transparent;
      }
    }
  }
}
