.module {
  min-height: 100px;
  min-width: 100px;
  position: relative;
  transition: filter 400ms ease;
  width: 150px;

  .uid {
    color: $color-light;
    font-size: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 8px;
    width: 100%;
    z-index: 1;

    span {
      background: $color-bg-uid;
      display: inline-block;
      padding: 2px 6px;
    }
  }

  &.color-fav-yellow {
    @include random-size();
    background: $color-fav-yellow;
  }

  &.color-fav-red-orange {
    @include random-size();
    background: $color-fav-red-orange;
  }

  &.color-fav-violet {
    @include random-size();
    background: $color-fav-violet;
  }

  &.color-fav-pink {
    @include random-size();
    background: $color-fav-pink;
  }

  &.color-fav-orange {
    @include random-size();
    background: $color-fav-orange;
  }

  &.color-fav-green {
    @include random-size();
    background: $color-fav-green;
  }

  &.color-fav-green-blue {
    @include random-size();
    background: $color-fav-green-blue;
  }

  &.color-fav-turquoise {
    @include random-size();
    background: $color-fav-turquoise;
  }

  &.color-fav-blue {
    @include random-size();
    background: $color-fav-blue;
  }

  .shape {
    position: relative;
    height: 40px;
    width: 40px;
    margin: auto;
    top: calc(50% - 20px);
    background: $shape-color;
    transition : filter 400ms ease;

    &.square {
      transform: rotate(45deg);
    }


    &.circle {
      background: $shape-color;
      border-radius: 25px;
    }


    &.triangle {
      background: none;
      height: 0;
      top: calc(50% - 25px);
      width: 0;
    }

    &.triangle-up {
      border-bottom: 40px solid $shape-color;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
    }

    &.triangle-down {
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 40px solid $shape-color;
      top: calc(50% - 15px);
    }

    &.triangle-left {
      border-bottom: 25px solid transparent;
      border-right: 40px solid $shape-color;
      border-top: 25px solid transparent;
    }

    &.triangle-right {
      border-bottom: 25px solid transparent;
      border-left: 40px solid $shape-color;
      border-top: 25px solid transparent;
    }

    &.diamond {
      background: none;
      border-color: transparent transparent $shape-color;
      border-style: solid;
      border-width: 0 15px 15px 15px;
      height: 0;
      position: relative;
      width: 30px;
    }

    &.diamond::after {
      border-color: $shape-color transparent transparent transparent;
      border-style: solid;
      border-width: 35px 30px 0;
      content: '';
      height: 0;
      left: -15px;
      position: absolute;
      top: 15px;
      width: 0;
    }


    &.star-five {
      background: none;
      border-bottom: 16px solid $shape-color;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      color: $shape-color;
      display: block;
      height: 0px;
      position: relative;
      top: calc(50% - 10px);
      transform: rotate(35deg);
      width: 0px;
    }

    &.star-five::before {
      position: absolute;
      height: 0;
      width: 0;
      display: block;
      content: '';
      transform: rotate(-35deg);
      border-bottom: 20px solid $shape-color;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      top: -15px;
      left: -17px;
    }

    &.star-five::after {
      border-bottom: 17px solid $shape-color;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      color: $shape-color;
      content: '';
      display: block;
      height: 0;
      left: -26px;
      position: absolute;
      top: 0;
      transform: rotate(-70deg);
      width: 0;
    }
  }
}

.shadows-enabled {
  .module {
    @include prefix((filter: drop-shadow(0 10px 10px $color-drop-shadow-module )), webkit moz);
  }

  .shape {
    @include prefix((filter: drop-shadow(0 10px 5px $color-drop-shadow-shape)), webkit moz);
  }
}
