@charset "UTF-8";

/// Favorite Color
/// @type Color
$color-fav-yellow: #ffb403;

/// Favorite Color
/// @type Color
$color-fav-red-orange: #fe4e50;

/// Favorite Color
/// @type Color
$color-fav-violet: #991766;

/// Favorite Color
/// @type Color
$color-fav-pink: #fe1256;

/// Favorite Color
/// @type Color
$color-fav-orange: #fa4b0c;

/// Favorite Color
/// @type Color
$color-fav-green: #04b14e;

/// Favorite Color
/// @type Color
$color-fav-green-blue: #03a486;

/// Favorite Color
/// @type Color
$color-fav-turquoise: #02a8c3;

/// Favorite Color
/// @type Color
$color-fav-blue: #027aa1;

/// Module max size for random
/// @type Num
$module-size-max: 250;

/// Module max margin for random
/// @type Num
$module-margin-max: 100;

/// Shapes color
/// @type Color
$shape-color: #000;
